<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OSAVC Web Server</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>OSAVC Web Server Status: {{ status }}!</h1>
  <div class="padded-boxes">
    <section style="background-color:rgb(202, 229, 253)">
      <h2 class="heading">Free disk space: {{ df_pc }}%</h2>
    </section>
    <section style="background-color:rgb(213, 184, 244)">
      <h2 class="heading">Message: {{ message}}</h2>
    </section>
    <section style="background-color:rgb(242, 204, 245)">
      <h2 class="heading">MAVstatus: {{ MAVstatus }}</h2>
    </section>
  </div>

  <hr>

  <form action="/" method="post">
      <div class="multi-button">
        {% if btn1 == 'h' %}
        <input class="button_off" type="submit" name="submit" value="Connected">
        {% else %}
        <input class="button" type="submit" name="submit" value="Connect MAV">
        {% endif %}
        {% if btn1 == 'datalog' %}
        <input class="button_off" type="submit" name="submit" value="Stop logging">
        {% else %}
        <input class="button" type="submit" name="submit" value="Start logging">
        {% endif %}
        {% if btn1 == 'v' %}
        <input class="button_off" type="submit" name="submit" value="Video Off">
        {% else %}
        <input class="button" type="submit" name="submit" value="Video">
        {% endif %}
        {% if btn1 == 's' %}
        <input class="button_off" type="submit" name="submit" value="Stills Off">
        {% else %}
        <input class="button" type="submit" name="submit" value="Stills">
        {% endif %}
        {% if btn1 == 'd' %}
        <input class="button_off" type="submit" name="submit" value="Detect Off">
        {% else %}
        <input class="button" type="submit" name="submit" value="Detect">
        {% endif %}
        {% if btn1 == 'q' %}
        <input class="button_off" type="submit" name="submit" value="QuickSnap Off">
        {% else %}
        <input class="button" type="submit" name="submit" value="QuickSnap">
        {% endif %}
        {% if btn1 == 'q' %}
        <input class="button" type="submit" name="submit" value="Take">
        {% else %}
        <input class="button_dis" type="submit" name="submit" value="_Take_">
        {% endif %}
      </div>

    <br>
    <hr>

    <center><input type="text" name="projectDir" placeholder="Enter parent directory for saved logs">
      <input class="button_submit" type="submit" name="submit" value="Enter directory">
    </center>
  </form>

  <p>
    {% if btn1 == 'v' %}
    <img src="{{ url_for('video_feed') }}" width="480" height="287" alt="Stream">
    {% elif btn1 == 'd' %}
    <img src="{{ url_for('detect_feed') }}" width="416" height="416" alt="Object Detection">
    {% else %}
    <img src="../static/latest.jpg" width="480" height="287" alt="Last">
    {% endif %}
  </p>
</body>

</html>