*.*
!*.X
!*.c
!*.h
!*.csv
!*.net
!*.pro
!*.sch
!*.kicad_pcb
!*.kicad_mod
!*.xml
!sym-lib-table
!*.pretty
!*.txt
!*.md
!*.jpg
!*.png
!*.py
!*.tex
!*.cls
!*.clo
!*.pdf
!*.bst
!*.bib
!*.pbtxt
!*.md
!*.ipynb
!*.config
!*.pt
!*.yaml
!*.txt
!*.sh
!*.pb
!*.tflite
!*.mp4
!*.html
!LICENSE
!.gitignore

